<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Account Settings - Silicate Cloud</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/awesomplete/awesomplete.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script>
        if (!localStorage.getItem("token")) {
            window.location = "/";
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Silicate</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#" role="button">Settings</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/account">Account</a>
                            <a class="dropdown-item" href="/organization">Organization</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin-top: 5rem;">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Basic Information</h3>
                    <hr>
                    <form>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" id="username" placeholder="Username" disabled>
                            <label for="username">Username</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Change Password</h3>
                    <hr>
                    <form>
                        <div id="change-password-message"></div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" id="new-password" placeholder="New Password">
                            <label for="new-password">New Password</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" id="confirm-new-password" placeholder="Confirm New Password">
                            <label for="confirm-new-password">Confirm New Password</label>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary w-100" id="change-password-btn">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery/jquery-3.7.1.min.js" type="text/javascript"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/static/awesomplete/awesomplete.min.js" type="text/javascript"></script>
<script src="/static/handlebars/handlebars.min-v4.7.8.js" type="text/javascript"></script>
<script src="/static/js/app.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getCurrentUser(function (data) {
            $("#username").val(data.username);
        });

        $("#change-password-btn").click(function (e) {
            e.preventDefault();

            let newPassword = $("#new-password").val();
            let confirmNewPassword = $("#confirm-new-password").val();

            if (newPassword === "") {
                displayError($("#change-password-message"), "New password cannot be empty");
                return;
            }

            if (newPassword !== confirmNewPassword) {
                displayError($("#change-password-message"), "Passwords do not match");
                return;
            }

            changeCurrentUserPassword(newPassword, function (data) {
                displaySuccess($("#change-password-message"), "Password changed successfully");
            }, function (data) {
                displayError($("#change-password-message"), data.responseJSON.message);
            });
        });
    });
</script>
</body>
</html>